*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #e5e5e5;
  --game-blue: #4a57ba;
  --game-green: #48864d;
  --game-purple: #5f388b;
  --game-red: #a5494f;
  --game-yellow: #a7a15a;
  --game-font-style: "Roboto", Arial, Helvetica, sans-serif;
  --game-primary-color: #333;
  --game-secondary-color: #999999;
}
body {
  background-color: var(--bg-color);
}
h1,
h2,
h3,
span,
p {
  font-family: var(--game-font-style);
}
header {
  padding: 1rem 0.5rem 0.2rem;
}
h1 {
  color: var(--game-primary-color);
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  color: var(--game-secondary-color);
  font-size: 1.1rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
hr {
  border: 1px solid black;
  margin: 1px auto;
  max-width: 175px;
}
p {
  text-transform: uppercase;
}
span {
  font-weight: bolder;
}
button:hover {
  cursor: pointer;
}
.page-wrapper {
  margin: 0 auto;
  max-width: 540px;
  max-height: 100vh;
  padding: 0.5em;
}
.game__score {
  display: flex;
  justify-content: space-around;
}
.scorer {
  display: flex;
  gap: 0.5em;
}
.btn {
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5rem 0;
}
.btn:hover i {
  color: white;
}
.btn--rock {
  border: solid 2px var(--game-red);
}
.btn--rock:hover {
  background-color: var(--game-red);
}
.btn--paper {
  border: solid 2px var(--game-yellow);
}
.btn--paper:hover {
  background-color: var(--game-yellow);
}
.btn--scissors {
  border: solid 2px var(--game-purple);
}
.btn--scissors:hover {
  background-color: var(--game-purple);
}
.btn--lizard {
  border: solid 2px var(--game-green);
}
.btn--lizard:hover {
  background-color: var(--game-green);
}
.btn--spock {
  border: solid 2px var(--game-blue);
}
.btn--spock:hover {
  background-color: var(--game-blue);
}
.game__win-condition {
  margin-bottom: 0.9em;
  text-align: center;
}
.win-condition__txt {
  font-size: 0.7rem;
  font-weight: bold;
}
.game__rules {
  text-align: center;
}
.rule__heading {
  font-size: 0.7rem;
  padding-bottom: 0.5em;
}
.game__rule {
  font-size: 0.5rem;
  padding: 0.3em;
  text-transform: uppercase;
}
.color-red {
  color: var(--game-red);
}
.color-green {
  color: var(--game-green);
}
.color-blue {
  color: var(--game-blue);
}
.color-yellow {
  color: var(--game-yellow);
}
.color-purple {
  color: var(--game-purple);
}

/* utility classes */
.grow {
  transition: all 0.3s ease;
}
.grow:hover {
  transform: scale(1.2);
}
