*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #e5e5e5;
  --game-blue: #4a57ba;
  --game-green: #48864d;
  --game-purple: #5f388b;
  --game-red: #a5494f;
  --game-yellow: #a7a15a;
  --game-font-style: "Roboto", Arial, Helvetica, sans-serif;
  --game-primary-color: #333;
  --game-secondary-color: #999999;
}
body {
  background-color: var(--bg-color);
}
h1,
h2,
h3,
span,
p {
  font-family: var(--game-font-style);
}
header {
  padding: 1rem 0.5rem 0.2rem;
}
h1 {
  color: var(--game-primary-color);
  font-size: 1.28rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
hr {
  border: 1px solid black;
  margin: 1px auto;
  max-width: 175px;
}
h2 {
  color: var(--game-secondary-color);
  font-size: 1.28rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
p {
  text-transform: uppercase;
}
span {
  font-weight: bolder;
}
.page-wrapper {
  margin: 0 auto;
  max-width: 540px;
  max-height: 100vh;
  padding: 0.5em;
}
.game__content {
  margin: 0 auto;
}
.game__win-condition {
  margin-bottom: 0.9em;
  text-align: center;
}
.win-condition__txt {
  font-size: 0.7rem;
  font-weight: bold;
}
.game__rules {
  text-align: center;
}
.rule__heading {
  font-size: 0.7rem;
  padding-bottom: 0.5em;
}
.game__rule {
  font-size: 0.5rem;
  padding: 0.3em;
  text-transform: uppercase;
}
.game__score {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}
.scorer {
  display: flex;
  gap: 0.5em;
}
.btn {
  border-radius: 4px;
  padding: 0.5em;
  margin: 0 auto;
}
.game__choices {
  display: grid;
  grid-template-areas:
    "rock paper scissors"
    " . lizard spock";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.game-choice--rock {
  grid-area: "rock";
}
.game-choice--paper {
  grid-area: "paper";
}
.game-choice--scissors {
  grid-area: "scissors";
}
.game__choice--lizard {
  grid-area: "lizard";
}
.game__choice--spock {
  grid-area: "spock";
}
.btn--rock {
  border: solid 2px var(--game-red);
}
.btn--paper {
  border: solid 2px var(--game-yellow);
}
.btn--scissors {
  border: solid 2px var(--game-purple);
}
.btn--lizard {
  border: solid 2px var(--game-green);
}
.btn--spock {
  border: solid 2px var(--game-blue);
}
.result__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 4px var(--game-primary-color);
  border-radius: 6px;
  margin-top: 3rem;
  padding: 0.5rem;
}
.result__txt {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.result__selections {
  margin-bottom: 0.5rem;
}
.result__selections > * {
  margin-right: 1rem;
}
.color-red {
  color: var(--game-red);
}
.color-green {
  color: var(--game-green);
}
.color-blue {
  color: var(--game-blue);
}
.color-yellow {
  color: var(--game-yellow);
}
.color-purple {
  color: var(--game-purple);
}

/* utility classes */
.grow {
  transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }
  .btn:hover i {
    color: white;
  }
  .btn--rock:hover {
    background-color: var(--game-red);
  }
  .btn--paper:hover {
    background-color: var(--game-yellow);
  }
  .btn--scissors:hover {
    background-color: var(--game-purple);
  }
  .btn--lizard:hover {
    background-color: var(--game-green);
  }
  .btn--spock:hover {
    background-color: var(--game-blue);
  }
  .grow:hover {
    transform: scale(1.2);
  }
}
