*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-color: #e5e5e5;
  --game-blue: #4a57ba;
  --game-green: #48864d;
  --game-purple: #5f388b;
  --game-red: #a5494f;
  --game-yellow: #a7a15a;
  --game-font-style: "Roboto", Arial, Helvetica, sans-serif;
  --game-primary-color: #333;
  --game-secondary-color: #999999;
}
body {
  background-color: var(--bg-color);
}
h1,
h2,
h3,
span,
p {
  font-family: var(--game-font-style);
}
header {
  padding: 16px 10px 6px;
}
h1 {
  color: var(--game-primary-color);
  font-size: 1.28rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
hr {
  border: 1px solid black;
  margin: 1px auto;
  max-width: 175px;
}
h2 {
  color: var(--game-secondary-color);
  font-size: 1.28rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
p {
  text-transform: uppercase;
}
span {
  font-weight: bolder;
}
.page-wrapper {
  margin: 0 auto;
  max-height: 100vh;
  max-width: 460px;
  padding: 0 10px;
  width: 100%;
}
.game__win-condition {
  margin-bottom: 16px;
  text-align: center;
}
.win-condition__txt {
  font-size: 0.7rem;
  font-weight: bold;
}
.game__rules {
  text-align: center;
}
.rule__heading {
  font-size: 0.7rem;
  padding-bottom: 8px;
}
.game__rule {
  font-size: 1rem;
  padding: 6px;
}
.game__score {
  border: solid 4px var(--game-primary-color);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  margin: 32px;
  padding: 8px;
}
.scorer {
  display: flex;
  gap: 8px;
}
.btn {
  border: solid 3px var(--game-primary-color);
  border-radius: 4px;
  padding: 8px;
}
.btn__txt {
  color: var(--game-primary-color);
}
.btn--cta {
  align-items: center;
  column-gap: 16px;
  display: flex;
  margin: 0 auto;
  padding: 8px 20px;
}
.game__selections {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.game-selection__row {
  column-gap: 18px;
  display: flex;
  flex-direction: row;
}
.game-selection {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.selection__txt {
  text-align: center;
}
.btn--rock {
  border: solid 3px var(--game-red);
}
.btn--paper {
  border: solid 3px var(--game-yellow);
}
.btn--scissors {
  border: solid 3px var(--game-purple);
}
.btn--lizard {
  border: solid 3px var(--game-green);
}
.btn--spock {
  border: solid 3px var(--game-blue);
}
.result__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 4px var(--game-primary-color);
  border-radius: 6px;
  margin-top: 24px;
  padding: 8px;
}
.result__txt {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.result__selections {
  margin-bottom: 8px;
}
.result__selections > * {
  margin-right: 16px;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal-overlay--closed {
  display: none;
}
.modal {
  background: whitesmoke;
  border-radius: 6px;
  display: block;
  left: 50%;
  max-width: 300px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.modal--closed {
  display: none;
}
.btn--close {
  margin: 10px;
  padding: 5px;
  position: absolute;
}
.modal__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 10px;
  row-gap: 10px;
}
.content__heading {
  margin-bottom: 5px;
}
.color-red {
  color: var(--game-red);
}
.color-green {
  color: var(--game-green);
}
.color-blue {
  color: var(--game-blue);
}
.color-yellow {
  color: var(--game-yellow);
}
.color-purple {
  color: var(--game-purple);
}

/* utility classes */
.grow {
  transition: all 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .clickable:hover {
    cursor: pointer;
  }
  .btn:hover {
    background-color: var(--game-primary-color);
  }
  .btn:hover > * {
    color: whitesmoke;
  }
  .btn--rock:hover {
    background-color: var(--game-red);
  }
  .btn--paper:hover {
    background-color: var(--game-yellow);
  }
  .btn--scissors:hover {
    background-color: var(--game-purple);
  }
  .btn--lizard:hover {
    background-color: var(--game-green);
  }
  .btn--spock:hover {
    background-color: var(--game-blue);
  }
  .grow:hover {
    transform: scale(1.2);
  }
}
